/*Universal styles*/
html, body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/*Header styles*/
header {
  background-image: url("../images/banner-image.jpg");
  background-color: rgb(44,154,183);
  height: 13rem;
  position: relative;
  top: -18px;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  margin-top: 0;
  position: relative;
  top:3rem;
  left: 15%;
}

h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.25rem;
  color: white;
  width: 17rem;
  position:relative;
  top:2rem;
  left: 15%;
}

.head-nav {
  background-color: rgb(235,235,235);
  color: rgb(58,58,58);
  font-size: 0.7rem;
  padding: 1rem;
  margin: 0;
  position: relative;
  top: 30%;
  text-indent: 12.5%;
}

/*Main Page Styles, e.g. body semantic elements, typography, etc.*/
.main-page {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding: 4rem 0 2rem 0;
}

aside {
  grid-column: 6 / span 2;
  grid-row: 1 / span 1;
  padding-left: 2rem;
}

.main-story {
  grid-column: 2 / span 4;
  grid-row: 1 / span 1;
  padding-right: 2rem;
}

.profile-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 4rem 5rem;
}

.profile {
  width: 25%;
  border: 0.2rem solid rgb(58,58,58);
  background-color: #F0F0F0; /*changed from rgb(235,235,235);*/
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
}

.box-text {
  color: rgb(58,58,58);
  text-align: justify;
}

h3 {
  text-transform: uppercase;
  color: rgb(58,58,58);
  font-size: 0.82rem;
  margin-top: 1.25rem;
}

h4 {
  font-size: 0.82rem;
  line-height: 1.25rem;
}

p {
  color: rgb(58,58,58);
  font-size: 0.75rem;
  line-height: 1.25rem;
}

/*Special Text Styles*/
.bold {
  font-weight:bold;
}

a {
  margin: 0.5rem;
  text-decoration: none;
  color: inherit;
  padding: 1rem 0;
}

a.in-line {
  margin:0;
}

.hidden {
  position: relative;
  left:-10000px;
  top: auto;
  color: white;
}

.hidden:focus {
  left: 0;
  z-index: 1;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.teal-text {
  color: #22758C; /*changed from rgb(44,154,183);*/
}

#light-teal-text {
  color: #2F9FC1; /*changed from rgb(82,183,213);*/
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 1.5rem 0;
}

/*Image Styling*/
figure {
  margin: 1rem;
  }

#aside-fig {
  width: 75%;
  margin: 0;
}

figcaption {
  color: rgb(58,58,58);
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding-top: 1rem;
}

.inline-pic {
  width: 100%;
}

.profile-pic {
  width: 100%;
  position: relative;
}

#logo {
  width: 20%;
}

/*Footer Styles*/
footer {
  width: 100%;
  height: 10rem;
  background-image: url("../images/footer-image.jpg");
  background-color: rgb(58,58,58);
  color: white;
  font-size:0.55rem;
  text-align: center;
  clear: right;
  clear: left;
  position: relative;
  padding: 2rem 0;
}

.footer-text {
  color: white;
  width: 30%;
  position: relative;
  left: 35%;
}
